@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 1080px;
    margin: auto;
}

.itemRow{
    display: flex;
    justify-content:space-between;
}

.formInput{
    border: 2px black solid;

}